* {
  margin: 0;
  padding: 0;
}

body {
  height: 700pz;
  box-sizing: border-box;
  background-color: #acacac;
}

.container {
  box-sizing: border-box;
  width: 800px;
  height: 710px;
  border: 4px solid #3f496c;
  margin: auto;
  margin-top: 125px;
  margin-bottom: 125px;
  border-radius: 20px;
  display: flex;
  box-shadow: 5px 5px grey;
}

.container .kiri {
  box-sizing: border-box;
  width: 400px;
  height: 705px;
  background-color: #3f496c;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
}

.container .kiri img {
  width: 100px;
  height: 80px;
  margin-top: 200px;
  position: relative;
  top: 5px;
}

.container .kiri p.satu {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
  position: relative;
  top: 35px;
}

.container .kiri p.dua {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: white;
  position: relative;
  top: 70px;
}

.container .kanan {
  width: 440px;
  height: 703px;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 20px;
  text-align: center;
  box-sizing: border-box;
}

.container .kanan .satu {
  color: #3f496c;
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 10px;
}

.container .kanan .dua {
  color: #3f496c;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 10px;
}

.container .kanan .login {
  color: #3f496c;
  font-size: 35px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 25px;
}

.container .kanan .input {
  position: relative;
  top: 40px;
  margin: auto;
  width: 350px;
  height: 470px;
  border: 2px solid #3f496c;
  text-align: left;
  border-radius: 5px;
  background-color: #f7f6f6;
  color: #3f496c;
}

.container .kanan .input label.username {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 140px;
  left: 20px;
}

.container .kanan .input input.userid {
  width: 300px;
  height: 20px;
  position: relative;
  top: 160px;
  left: 20px;
  background-color: #f7f6f6;
  border: 1px solid #f7f6f6;
  border-bottom: 2px solid #3f496c;
}

.container .kanan .input input.userid:focus {
  outline: none;
}

/* nama */
.container .kanan .input label.namaLengkap {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 20px;
  left: 20px;
}

.container .kanan .input input.namaLengkapid {
  width: 300px;
  height: 20px;
  position: relative;
  top: 40px;
  left: 20px;
  background-color: #f7f6f6;
  border: 1px solid #f7f6f6;
  border-bottom: 2px solid #3f496c;
}

.container .kanan .input input.namaLengkapid:focus {
  outline: none;
}
/* nama ends */

/* no hp */
.container .kanan .input label.nomorHp {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 60px;
  left: 20px;
}

.container .kanan .input input.nomorHpid {
  width: 300px;
  height: 20px;
  position: relative;
  top: 80px;
  left: 20px;
  background-color: #f7f6f6;
  border: 1px solid #f7f6f6;
  border-bottom: 2px solid #3f496c;
}

.container .kanan .input input.nomorHpid:focus {
  outline: none;
}
/* no hp end */

/* email */
.container .kanan .input label.email {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 100px;
  left: 20px;
}

.container .kanan .input input.emailid {
  width: 300px;
  height: 20px;
  position: relative;
  top: 120px;
  left: 20px;
  background-color: #f7f6f6;
  border: 1px solid #f7f6f6;
  border-bottom: 2px solid #3f496c;
}

.container .kanan .input input.userid:focus {
  outline: none;
}
/* email end */

.container .kanan .input label.password {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 180px;
  left: 20px;
}

.container .kanan .input input.passid {
  width: 300px;
  height: 20px;
  position: relative;
  top: 200px;
  left: 20px;
  background-color: #f7f6f6;
  border: 1px solid #f7f6f6;
  border-bottom: 2px solid #3f496c;
}

.container .kanan .input input.passid:focus {
  outline: none;
}

.tombol {
  margin-top: 70px;
  padding-left: 26%;
}

button.daftar {
  background-color: #3f496c;
  float: left;
  margin-left: 10px;
  top: 55px;
  color: white;
  width: 104px;
  height: 34px;
  font-size: 15px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #3f496c;
}

a.batal {
  background-color: #ffffff;
  float: left;
  top: 55px;
  color: #3f496c;
  width: 100px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #3f496c;
  text-decoration: none;
}

a.batal p {
  margin-top: 6%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

p.regis {
  position: relative;
  top: 70px;
}

p.regis a {
  text-decoration: none;
  color: rgb(0, 150, 150);
}
