body {
  padding: 0px;
  margin: 0px;
}

/* NAVBAR */
.menu-navbar {
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 12px;
  float: right;
  margin-top: 13px;
  margin-right: 30px;
  padding: 0px;
  font-weight: 600;
}

#keterangan-logo {
  font-weight: 500;
  font-style: italic;
  font-family: 'Inter';
  font-size: small;
}

#nama-web {
  font-weight: 1500;
  font-size: larger;
  font-family: 'Inter';
}

.menu a:link {
  color: rgb(255, 255, 255);
}

.menu a:visited {
  color: rgb(255, 255, 255);
}

.menu a:hover {
  color: #b5b5b5;
}

.menu a:nth-child(3) {
  color: #b5b5b5;
}

.navbar {
  padding: 10px;
  height: 40px;
  padding-left: 20px;
  padding-right: 30px;
}

.logo {
  width: 50px;
}

.icon-name > table {
  border-collapse: collapse;
  padding: 0px;
}

.icon-name {
  margin-top: -7px;
}

.navbar table tr td {
  color: white;
  vertical-align: top;
}

.navbar table tr:nth-child(2) > td {
  vertical-align: bottom;
}

.navbar table tr:nth-child(3) > td {
  vertical-align: top;
  font-weight: bold;
  font-size: 15px;
}

.navbar table tr td > img {
  margin: 1px;
  margin-top: 5px;
  margin-right: 5px;
}

header {
  background-color: #3f496c;
  margin: 0px;
  position: sticky;
  top: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 9999;
}
/* NAVBAR END */




/* FOOTER */
footer {
  clear: both;
  background-color: #1c2541;
  height: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.keterangan-footer {
  border-right: 1px solid #a4a4a4;
  width: 23%;
  height: 95%;
  margin: 5px;
  float: left;
  color: white;
  padding-right: 5px;
  padding-left: 10px;
}

.keterangan-footer h1 {
  color: #e2e2e2;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 150px;
  margin-top: 2px;
  margin-bottom: 5px;
}

.keterangan-footer p {
  color: #e2e2e2;
  font-size: 12px;
  font-family: 'Montserrat';
  margin: 0;
}

.kontak {
  width: 15%;
  height: 95%;
  margin: 5px;
  float: left;
  margin-right: 3%;
  margin-left: 4%;
}

.kontak h1 {
  color: #e2e2e2;
  margin: 0;
  font-size: 25px;
  font-family: 'Montserrat';
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.informasi {
  /* border-right: 1px solid white; */
  width: 15%;
  height: 95%;
  margin: 5px;
  float: left;
  margin-right: 8%;
  margin-left: 4%;
}

.informasi h1 {
  color: #e2e2e2;
  margin: 0;
  font-size: 25px;
  font-family: 'Montserrat';
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.bantu {
  color: #e2e2e2;
}

.username {
  color: #e2e2e2;
}

.contact-us {
  border-left: 1px solid rgb(152, 152, 152);
  width: 25%;
  height: 95%;
  margin: 5px;
  margin-left: 50px;
  margin: auto;
  /* padding-left: 10p; */
  /* margin-right: 10px; */
  float: left;
}

.contact-us h1 {
  color: #e2e2e2;
  margin: 0;
  font-size: 25px;
  font-family: 'Montserrat';
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 5px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.copyright p {
  background-color: #1c2541;
  clear: both;
  letter-spacing: 5px;
  text-align: center;
  color: rgb(202, 202, 202);
  padding: 7px;
  margin: 0px;
  font-family: 'Montserrat';
}

.kontak1 {
  color: #e2e2e2;
  padding-left: 15px;
}

.table-kontak {
  font-size: medium;
  font-weight: lighter;
  padding-left: 10px;
}

.email {
  color: #e2e2e2;
  padding-bottom: 7px;
  padding-right: 50px;
}

.gambaremail {
  padding-left: 10px;
}

.gambartelpon {
  padding-left: 10px;
}

.notel {
  color: #e2e2e2;
  padding-top: 8px;
}

textarea {
  resize: none;
}

.ig {
  color: #e2e2e2;
  bottom: 15px;
  padding-left: 10px;
  padding-top: 5px;
}

.ig img {
  margin-top: 0;
  width: 25px;
  height: 25px;
}

.syarat {
  color: #e2e2e2;
  padding-left: 50px;
  padding-bottom: 7px;
}

.faq {
  color: #e2e2e2;
  padding-left: 50px;
  padding-bottom: 7px;
}

.bayar {
  color: #e2e2e2;
  padding-left: 50px;
  padding-bottom: 7px;
}

.bantu {
  padding-left: 50px;
  padding-bottom: 7x;
}

.form {
  padding-left: 16%;
  padding-top: 10px;
}

.submit {
  color: rgb(253, 253, 253);
  background-color: #627a91;
  box-shadow: 2px 2px 2px 2px rgb(240, 238, 238);
  border-radius: 10px;
  box-shadow: 1px 1px rgb(73, 73, 73);
  float: right;
  margin-right: 17%;
  border: none;
  transition: 0.5s;
}

.submit:hover {
  background-color: #d4d4d4;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}

/* FOOTER END */

/* main */

.breadcrums{
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: bold;
  color: #3f496c;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.breadcrums ul {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

hr{
  margin-top: -8px;
}
.breadcrums ul li{
  list-style-type: none;
}

.breadcrums ul li a{
  text-decoration: none;
  color: #3f496c;
}
/* .judultiket {
  margin-left: 10px;
  padding-left: 20px;
  font-weight: bold;
  text-decoration: underline;
  display: inline;
}

.judultiket2 {
  margin-left: 42%;
  top: 10px;
  padding-left: 20px;
  font-weight: bold;
  display: inline;
  text-decoration: underline;
} */

.nama {
  /* margin-top: 50px; */
  /* margin-left: 6%;
  padding-left: 2%; */
}
.boxnama {
  /* margin-left: 8%;
  padding-left: 2%; */
  /* background-color:rgba(181, 189, 219, 0.4); */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px; */
}

/* ::placeholder {
  color: black;
  font-weight: bold;
} */

.email-pesan {
  /* margin-top: 25px;
  margin-left: 6%;
  padding-left: 2%;
  text-decoration: underline; */
}
.boxemail {
  /* margin-left: 30px;
  /* background-color:rgba(181, 189, 219, 0.4); */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px; */ 
}

.namakonser {
  /* margin-top: 25px;
  margin-left: 6%;
  padding-left: 2%; */
  /* text-decoration: underline; */
}
.boxkonser {
  /* margin-left: 30px;
  background-color: rgba(181, 189, 219, 0.4);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px; */
}

.tanggal {
  /* margin-top: 25px;
  margin-left: 6%;
  padding-left: 2%; */
  /* text-decoration: underline; */
}
.boxtanggal {
  /* margin-left: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px;
  background-color: rgba(181, 189, 219, 0.4); */
}

.notelpon {
  /* margin-top: 25px;
  margin-left: 20px;
  padding-left: 20px; */
}
.nomortelpon {
  /* margin-left: 72px;
  background-color: rgba(181, 189, 219, 0.4);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px;
  border-right: solid 2px black;
  border-top: solid 2px black;
  border-bottom: solid 2px black; */
}

div.kotak2 {
  /* display: flex;
  margin-left: 40px;
  margin-bottom: -30px; */
}

div.nomor2 {
  /* width: 40px;
  height: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  text-align: center;
  line-height: 20px;
  margin-right: -2px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px; */
  /* background-color:rgba(181, 189, 219, 0.4); */
}

.kotak2 input {
  /* border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: 1px solid black;
  padding-left: 5px;
  width: 260px; */
}

/* input:focus {
  outline: none;
} */

div.kotak {
  /* display: flex;
  margin-left: 40px;
  margin-bottom: -30px; */
}

div.nomor {
  /* width: 40px;
  height: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  text-align: center;
  line-height: 20px;
  margin-right: -2px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px; */
  /* background-color:rgba(181, 189, 219, 0.4); */
}

.kotak input {
  /* border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: 1px solid black;
  padding-left: 5px;
  width: 260px; */
}

input:focus {
  /* outline: none; */
}

/* .enamdua {
  color: #5bc0be;
}

.usiaa {
  margin-top: 55px;
  margin-left: 20px;
  padding-left: 20px;
}

.usia {
  margin-top: 55px;
  margin-left: 20px;
  padding-left: 20px;
}
.age {
  /* width: 300px; */
  /* margin-left: 40px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
/* } */

.jenistiket {
  /* margin-top: 25px;
  margin-left: 20px;
  padding-left: 20px; */
  /* text-decoration: underline; */
}
.pilihantiket {
  /* margin-left: 40px;
  background-color: rgba(181, 189, 219, 0.4);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px; */
}

.harga {
  /* margin-top: 25px;
  margin-left: 20px;
  padding-left: 20px; */
  /* text-decoration: underline; */
}
.totalharga {
  /* margin-left: 40px;
  background-color: rgba(181, 189, 219, 0.4);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px; */
}

.tiketDua {
  /* margin-top: 50px; */
} */
.form1besar {
  box-sizing: border-box;
  
}

.flex{  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.formtb{
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-weight: bold;
  color:white;
  position: relative;
  top: -30px;
  background-color: #3f496c;
  padding-bottom: 30px;  
  
}

.formtb input{
  width: 300px;
  height: 25px;
  border-radius: 5px;
  padding-left: 5px;
  border: 1px solid grey;
}

.formtb input:focus{
  border: 1px solid rgb(230, 230, 230);
  outline: none;
  outline: 2px solid #6ab2f5;
}

.total{
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-weight: bold;
  color: #3f496c;
  margin-left: 40px;
  font-size: 25px;
  position: relative;
  top: -10px;
}
/* 
.form2besar {
  display: flex;
  margin-bottom: 100px;
}

.form1b {
  padding-left: 0px;
  padding-top: 25px;
}

.form2a {
  padding-left: 40px;
}

.form2b {
  padding-left: 0px;
  padding-top: 25px;
}

.form1besar {
  margin-bottom: 150px;
} */

/* .isipesan {
  background-color: #1c2541;
  color: white;
  display: flex;
  border-radius: 40px;
  margin-left: 150px;
  margin-bottom: 50px;
  width: 300px;
  height: 60px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.isipesan:hover {
  background-color: #9fa0a0;
  box-shadow: 2px 15px 20px #616161bd;
  color: #fff;
  transform: translateY(-5px);
  border: none;
}

.isipesan:active {
  transform: translateY(-1px);
}

.Cancel {
  background-color: #1c2541;
  color: white;
  border-radius: 40px;

  bottom: 120px;
  width: 300px;
  height: 60px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
}

.Cancel:hover {
  background-color: #9fa0a0;
  box-shadow: 2px 15px 20px #616161bd;
  color: #fff;
  transform: translateY(-5px);
  border: none;
}

.Cancel:active {
  transform: translateY(-1px);
} */

/* main */
