body {
  padding: 0px;
  margin: 0px;
  background-image: url('images/background-ticket.jpeg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAVBAR */
.menu-navbar {
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 12px;
  float: right;
  margin-top: 13px;
  margin-right: 30px;
  padding: 0px;
  font-weight: 600;
}

#keterangan-logo {
  font-weight: 500;
  font-style: italic;
  font-family: 'Inter';
  font-size: small;
}

#nama-web {
  font-weight: 1500;
  font-size: larger;
  font-family: 'Inter';
}

.menu a:link {
  color: rgb(255, 255, 255);
}

.menu a:visited {
  color: rgb(255, 255, 255);
}

.menu a:hover {
  color: #b5b5b5;
}

.menu a:nth-child(3) {
  color: #b5b5b5;
}

#logout:hover {
  cursor: pointer;
  color: #0094ff;
}
.navbar {
  padding: 10px;
  height: 40px;
  padding-left: 20px;
  padding-right: 30px;
}

.logo {
  width: 50px;
}

.icon-name > table {
  border-collapse: collapse;
  padding: 0px;
}

.icon-name {
  margin-top: -7px;
}

.navbar table tr td {
  color: white;
  vertical-align: top;
}

.navbar table tr:nth-child(2) > td {
  vertical-align: bottom;
}

.navbar table tr:nth-child(3) > td {
  vertical-align: top;
  font-weight: bold;
  font-size: 15px;
}

.navbar table tr td > img {
  margin: 1px;
  margin-top: 5px;
  margin-right: 5px;
}

header {
  background-color: #3f496c;
  margin: 0px;
  position: sticky;
  top: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 9999;
}
/* NAVBAR END */

/* MAIN START */
main .judul {
  display: flex;
  justify-content: space-between;
}

main .judul .title {
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #3f496c;
  margin-top: 15px;
  margin-left: 40px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

main .judul .search {
  margin-top: 10px;
  margin-right: 20px;
  display: flex;
}

main .judul .search .select {
  width: 100px;
  height: 36px;
  border-radius: 10px;
  border: 2px solid gray;
  outline: none;
  position: relative;
  top: 9px;
  margin-right: 5px;
}

main .judul .search input.input {
  width: 250px;
  height: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 2px solid grey;
  border-left: 2px solid grey;
  border-bottom: 2px solid grey;
  border-right: #3f496c;
  padding-left: 10px;
}

main .judul .search input.input:focus {
  outline: none;
  box-shadow: 1px 1px 2px gray, -1px -1px 2px grey;
}

main .judul .search input.search-button {
  height: 35px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid rgb(84, 84, 84);
  border-left: none;
  margin-left: -5px;
  margin-top: 10px;
  padding-bottom: 2px;
  background-color: #3f496c;
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
}

main .judul .search input.search-button:hover {
  background-color: #686a73;
  box-shadow: 1px 1px 2px 0px 1px 1px 1px 0px #212b48;
  cursor: pointer;
}

main .judul .search input.search-button:active {
  background-color: rgb(67, 67, 111);
}

main .daftar {
  width: 100%;
  margin: auto;
  min-height: 300px;
  /* background-color: #e6e3e3; */
  margin-top: 10px;
  padding: 3%;
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  box-sizing: border-box;
  /* justify-content: space-evenly; */
}

main .daftar .card {
  margin-left: 40px;
  width: 250px;
  height: 400px;
  border-radius: 10px;
  margin-bottom: 3%;
  /* background-color: #7386c0; */
  box-sizing: border-box;
  /* outline: 1px solid #c2bebe; */
  /* outline: 2px solid #3a3c75; */
  padding-top: 0.1px;
  background-color: rgb(218, 218, 218);
  outline: 1px solid #8f8f8f;
  /* box-shadow: 10px 10px 10px #7386c0; */
}

main .daftar .card:hover {
  /* background-color: #d7deff; */
  /* background-color: #b9fcea; */
  /* background-color: #e5e7e0; */
  cursor: default;
  background-color: #e8e8e8;
  outline: 2px solid #3a3c75;
  box-shadow: 10px 10px 10px #7386c0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.4s;
  transform: translateY(-4px);
}

main .daftar .card .img {
  width: 250px;
  height: 150px;
  margin: 10px auto;
  /* border: 1px solid white; */
}

main .daftar .card .img img {
  width: 250px;
  height: 170px;
}

main .daftar .card .deskripsi .namakonser {
  position: relative;
  top: 9px;
  text-align: center;
  font-family: 'Montserrat';
  color: #3d496f;
  font-size: 15px;
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  /* text-shadow: -3px -3px  5px #3d496f, 3px 3px 5px #3d496f; */
}

main .daftar .card .deskripsi .artis {
  text-align: center;
  font-family: 'Montserrat';
  color: white;
  font-size: 14px;
  border-bottom: 1px solid #434343;
  border-top: 1px solid #434343;
  background-color: #3d496f;
  position: relative;
  top: 5px;
}

.harbut {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 25px;
}

main .daftar .card .deskripsi h4 {
  font-weight: bold;
}

main .daftar .card .price {
  width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
  margin-top: -5px;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

main .daftar .card .price .icon {
  display: flex;
  position: relative;
  top: 5px;
}

main .daftar .card .price .icon span.material-symbols-outlined {
  /* margin-top: 2px; */
  margin-left: -2px;
  margin-right: 3px;
}

main .daftar .card a {
  font-family: 'Montserrat';
  color: white;
  text-decoration: none;
  /* font-style: italic; */
  font-weight: bold;
}

main .daftar .card a .pesan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 25px;
  /* background-color: #5bc0be; */
  background-color: #40bb40;
  /* background-image: linear-gradient(to right,#FB6D48,#FFAF45); */
  border-radius: 10px;
  font-size: 15px;
  /* transition: 200ms; */
  position: relative;
  left: -10px;
}

main .daftar .card a .pesan:hover {
  /* background-color: rgb(201, 198, 198); */
  /* background-color: #412eee; */
  /* background-color: #FF204E; */
  /* border: 2px solid white; */
  /* box-shadow: -1px -1px 5px #7386c0, 1px 1px 5px #7386c0; */
  /* box-shadow: -1px -1px 5px rgb(201, 198, 198), 1px 1px 5px rgb(201, 198, 198); */
  box-shadow: -1px -1px 10px gray, 1px 1px 10px gray;

  /* border: 2px solid white; */
}

main .daftar .card .price .harga {
  background-color: red;
  width: 100px;
  /* text-align: center; */
  /* margin-right: -10px;
  padding-right: 5px;
  padding-left: 5px; */
  height: 25px;
  line-height: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* font-style: italic; */
  position: relative;
  color: white;
}

main .daftar .card .price .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d496f;
  width: 100%;
  height: 30px;
  line-height: 25px;
  /* margin-left: -10px; */
  letter-spacing: 2px;
  color: white;
}

main .daftar .card .lokasi {
  width: 100%;
  height: 25px;
  background-color: #3d496f;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  margin-top: 7px;
}

hr.garis {
  margin-top: 15px;
  margin-bottom: -15px;
  height: 2px;
  background-color: #7386c0;
}

/* MAIN END */
/* FOOTER */
footer {
  clear: both;
  background-color: #1c2541;
  height: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.keterangan-footer {
  border-right: 1px solid #a4a4a4;
  width: 23%;
  height: 95%;
  margin: 5px;
  float: left;
  color: white;
  padding-right: 5px;
  padding-left: 10px;
}

.keterangan-footer h1 {
  color: #e2e2e2;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 150px;
  margin-top: 2px;
  margin-bottom: 5px;
}

.keterangan-footer p {
  color: #e2e2e2;
  font-size: 12px;
  font-family: 'Montserrat';
  margin: 0;
}

.kontak {
  width: 15%;
  height: 95%;
  margin: 5px;
  float: left;
  margin-right: 3%;
  margin-left: 4%;
}

.kontak h1 {
  color: #e2e2e2;
  margin: 0;
  font-size: 25px;
  font-family: 'Montserrat';
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.informasi {
  /* border-right: 1px solid white; */
  width: 15%;
  height: 95%;
  margin: 5px;
  float: left;
  margin-right: 8%;
  margin-left: 4%;
}

.informasi h1 {
  color: #e2e2e2;
  margin: 0;
  font-size: 25px;
  font-family: 'Montserrat';
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.bantu {
  color: #e2e2e2;
}

.username {
  color: #e2e2e2;
}

.contact-us {
  border-left: 1px solid rgb(152, 152, 152);
  width: 25%;
  height: 95%;
  margin: 5px;
  margin-left: 50px;
  margin: auto;
  /* padding-left: 10p; */
  /* margin-right: 10px; */
  float: left;
}

.contact-us h1 {
  color: #e2e2e2;
  margin: 0;
  font-size: 25px;
  font-family: 'Montserrat';
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 5px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.copyright p {
  background-color: #1c2541;
  clear: both;
  letter-spacing: 5px;
  text-align: center;
  color: rgb(202, 202, 202);
  padding: 7px;
  margin: 0px;
  font-family: 'Montserrat';
}

.kontak1 {
  color: #e2e2e2;
  padding-left: 15px;
}

.table-kontak {
  font-size: medium;
  font-weight: lighter;
  padding-left: 10px;
}

.email {
  color: #e2e2e2;
  padding-bottom: 7px;
  padding-right: 50px;
}

.gambaremail {
  padding-left: 10px;
}

.gambartelpon {
  padding-left: 10px;
}

.notel {
  color: #e2e2e2;
  padding-top: 8px;
}

textarea {
  resize: none;
}

.ig {
  color: #e2e2e2;
  bottom: 15px;
  padding-left: 10px;
  padding-top: 5px;
}

.ig img {
  margin-top: 0;
  width: 25px;
  height: 25px;
}

.syarat {
  color: #e2e2e2;
  padding-left: 50px;
  padding-bottom: 7px;
}

.faq {
  color: #e2e2e2;
  padding-left: 50px;
  padding-bottom: 7px;
}

.bayar {
  color: #e2e2e2;
  padding-left: 50px;
  padding-bottom: 7px;
}

.bantu {
  padding-left: 50px;
  padding-bottom: 7x;
}

.form {
  padding-left: 16%;
  padding-top: 10px;
}

.submit {
  color: rgb(253, 253, 253);
  background-color: #627a91;
  box-shadow: 2px 2px 2px 2px rgb(240, 238, 238);
  border-radius: 10px;
  box-shadow: 1px 1px rgb(73, 73, 73);
  float: right;
  margin-right: 17%;
  border: none;
  transition: 0.5s;
}

.submit:hover {
  background-color: #d4d4d4;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}
/* FOOTER END */
